.mascota{
    width: 33%;
    height: 90%;
    background: linear-gradient(180deg, rgba(126, 170, 217, 0.5) 0%, rgba(152, 150, 240, 0.5) 100%);
    box-shadow: 10px 7px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    transition: width 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.mascota .head{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    padding-top: 10px;
}
.mascota .head h3{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.mascota .head img{
    width: 20%;
    height: 80%;
    border-radius: 55px;
}
.mascota .head .btnEliminar{
    width: 20px;
    height: 20px;
    background-color: rgba(254, 8, 8, 0.5);
    border-radius: 55px;
    color: white;
    font-size: 60%;
    cursor: pointer;
    margin-left: 30px;
}
.mascota .head .btnEliminar:hover{
    background-color: rgba(255, 255, 255, 0.5);
    color: rgba(254, 8, 8, 0.5);
    border: 1px solid rgba(254, 8, 8, 0.5);
}
.mascota .body{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.mascota .body .line{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-size: 17px;
}
.mascota .body .line select, input{
    width: 30%;
    height: 50%;
    border: none;
}
.mascota .footer{
    width: 100%;
    height: 20%;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    justify-content: space-evenly;
}
.mascota .footer p{
    color: var(--three-color);
    font-size: 17px;
    width: 50%;
    height: 20%;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s;
    text-decoration: underline;
}
.mascota .footer p:hover{
    font-size: 20px;
}
.mascota .footer button{
    width: 30%;
    height: 30%;
    border: none;
    border-radius: 5px;
    background-color: rgba(243, 141, 231, 0.5);
    color: aliceblue;
    transition: all 0.2s;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.mascota .footer button:hover{
    width: 35%;
    background-color: white;
    color: rgba(243, 141, 231, 1);
    border: 1px solid rgba(243, 141, 231, 0.5);
}