.store{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contStore{
    width: 100%;
    height: 26%;
    margin: 20px;
    padding: 10px;
    background-color: aliceblue;
}
.contStore h4{
    color: var(--primary-color);
    font-size: 19px;
}
.contStore .contList{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    
}
.contStore .contList .store{
    width: 17%;
    height: 80%;
    margin: 10px;
    font-size: 17px;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
}
.contStore .contList .store img{
    width: 38%;
    height: 60%;
    border-radius: 50%;
}
.contStore .contList .store:hover{
    background-color: rgba(243, 141, 231, 0.3);
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(65, 86, 216, 0.5) 0 -3px 0 inset;
}